body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dadada;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
}

.board {
    border: solid 1px black;
    font-family: monospace;
    font-weight: bold;
    font-size: 200%;
  }
  
  .board td {
    text-align: center;
    width: 1.5em;
    height: 1.5em;
  }

  #result table {
    width: 100%;
    border-collapse: collapse;
}

#result th, #result td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    width: 50%;
}

#result th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: white;
}