{% extends "base.html" %}

{% block content %}
    <h1>Boogle</h1>
    <div>
        <table class="board ">
            <tbody>
                {% for row in new_board %}
                <tr>
                    {% for letter in row %}
                    <td>{{ letter }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <form id="guess" method="POST">
            <input type="text" required="true" maxlength="5" name="guess" id="guess-input" placeholder="Enter your guess">
            <input type="submit"  value="Guess">
    </div>
    <div id="result">
        <table>
            <tr>
              <th>Guess</th>
              <th>Result</th>
            </tr>
            <tr id="guess_result_table">
              </tr>
          </table>
    </div>
{% endblock %} 
